@{
    ViewData["Title"] = "My Hobby - Guitar";
}

<div class="container">
    <h1><i class="fas fa-guitar"></i> Welcome to My Guitar Page!</h1>
    <p>This page shows my bio to get to know me and shows the price for my lessons at a base rate.</p>

    <img src="~/images/acoustic.jpg" alt="Guitar" class="small-img" />

    <p><br/>Bio: <br/>My name is Matt Diamond, and I've been playing acoustic guitar for 5 years. Some may call me a prodigy, but I just say that I've fallen in love with guitar. It is not only my hobby, but it is my passion. I enjoy playing songs similar to Novo Amor, Hozier, Jack Johnson, and other indie/acoustic artists.</p>
    
    <img src="~/images/silhouette.jpg" alt="Landscape" class="small-img" />
    
    <br/><br/>
    
    <p>Getting started with guitar is an incredibly exciting journey! It's not just about learning chords and scales—it's about expressing yourself and tapping into your own creativity. For me, guitar has always been a place to let my emotions flow and to bring out my ideas in a way that feels truly special. Whether you're strumming your first chord or picking out a favorite song, every moment you spend with the guitar opens up new possibilities. The thrill of learning, playing, and even making mistakes along the way only makes the experience that much richer. If you're ready to dive in, I promise you'll find that it's not just an instrument, but a whole world waiting for you to explore!</p>
    
    <br/>
    
    <p>Navigation:</p>
    <a class="btn btn-primary" href="@Url.Action("Calculator", "Home")">Pricing Calculator</a>

    <br/><br/>
    
    <footer>
        <p>&copy; 2025 My Guitar Page | Built by Matt Diamond</p>
    </footer>
</div>